---
import Link from '../components/Link.astro';
import MainLayout from '../layouts/MainLayout.astro';
import { Image } from '@astrojs/image/components';
---

<MainLayout title='About' description='about'>
  <section class='container about' aria-label='About Me'>
    <Image
      src='https://lh3.googleusercontent.com/nDRNk0bpgsCDeUuJnx4wgWlptWG-bFqO1FkMbZUO0EDV9j2bbP-D8_3qPgUwpUsGL4HrbU0_btF9zWCmaWaxYC-7kyFx-aCL4p39IcVeqoh8fW8sE6c7NjFqoUOG9FgtfgN7MWGru0A=w2400'
      alt='Me, coding'
      width='200'
      height='300'
      format='jpg'
      fit='cover'
      quiality={80}
      aspectRatio='5:2'
      class='hero-image'
    />
    <div class='content'>
      <h1 class='h1'>Hi! My name is Kolos Kaposzta</h1>
      <div class='container-island'>
        In short, I am a young and ambicious frontend developer, who wants to
        expand my skills on the horizon of webdevelopment and make excellent
        digital products. Also, I am not only focused on the technical aspects
        of web development but also on the bigger picture of product management
        and user experience.
      </div>

      <div>
        <!-- JELEN -->
        <h4>Present</h4>
        <p>
          Currently, I am doing my last year at Obuda University, where I will
          get a Computer Engineering diploma. Con-currently I am still working
          for I4p as a frontend developer.
        </p>
      </div>
      <div>
        <h4>Change in my carrer <span>2022 January - Present</span></h4>
        <p>
          I got interested in frontend development and luckily, I got my first
          project from my boss, to make signing platform's MVP.
        </p>
      </div>
      <div>
        <!-- EGYTEM I4P TESZTELO -->
        <h4>
          University and my First Job! <span>2020 September - 2022 January</span
          >
        </h4>
        <p>
          I got in the Obuda University's Computer Engineering BSc course,
          luckily I became a trainee at <a href='https://www.i4p.com/'
            >I4P informatics</a
          >, where I did automated tests in Java 8 for the Trident HSM.
        </p>
      </div>
      <div>
        <!-- KEZDETEK -->
        <h4>My little dark age <span>2015 - 2020 May</span></h4>
        <p>
          I started programming in a summercamp in Scratch, later I got in a
          technical-ish highschool where I learned the basics of C#, OOP, Html,
          Css, Javascript (I did'nt know back then, how much I will love JS
          right now). Although I wasn't particularly interested in programming
          at the time, I realized the importance of it as I prepared to attend
          university. This sparked a newfound passion for coding.
        </p>
      </div>
      <Link
        href='mailto:kap.kolos@gmail.com'
        style='primary'
        icon={{
          name: 'twemoji:open-mailbox-with-raised-flag',
          side: 'right',
        }}
        text='Contact Me'
      />
    </div>
  </section>
</MainLayout>
<style>
  .container-island {
    color: #6d6b8d;
    border: 4px solid hsl(29, 84%, 52%);
    padding: 1em 1.25em;
    border-radius: 15px;
  }
</style>
