---
import Link from '../components/Link.astro';
import MainLayout from '../layouts/MainLayout.astro';
import { Image } from '@astrojs/image/components';
---

<MainLayout title='About' description='about'>
  <section class='container about' aria-label='About Me'>
    <Image
      src='https://lh3.googleusercontent.com/nDRNk0bpgsCDeUuJnx4wgWlptWG-bFqO1FkMbZUO0EDV9j2bbP-D8_3qPgUwpUsGL4HrbU0_btF9zWCmaWaxYC-7kyFx-aCL4p39IcVeqoh8fW8sE6c7NjFqoUOG9FgtfgN7MWGru0A=w2400'
      alt='Me, coding'
      width='200'
      height='300'
      format='jpg'
      fit='cover'
      quiality={80}
      aspectRatio='5:2'
      class='hero-image'
    />
    <div class='content'>
      <h1 class='h1'>Hi! My name is Kolos Kaposzta</h1>
      <div class='container-island'>
        In short, I am a young and ambicious frontend developer, who wants to
        expand my skills on the horizon of webdevelopment and make excellent
        digital products. Also, I am not only focused on the technical aspects
        of web development but also on the bigger picture of product management
        and user experience.
      </div>
      <Link
        href='mailto:kap.kolos@gmail.com'
        style='primary'
        icon={{
          name: 'twemoji:open-mailbox-with-raised-flag',
          side: 'right',
        }}
        text='Contact Me'
      />
    </div>
  </section>
</MainLayout>
<style>
  .container-island {
    color: #6d6b8d;
    border: 4px solid hsl(29, 84%, 52%);
    padding: 1em 1.25em;
    border-radius: 15px;
  }
</style>
