---

---
<footer>
    <small>Copright &copy;
        <span id="copyright"></span> | All rights reserved
    </small>
</footer>

<script>
 document.querySelector('#copiright').textContent = new Date().getFullYear().toString()
</script>