---
import { Icon } from 'astro-icon';
// import navData from '../data/navData';
import Link from './Link.astro';
---

<nav class='w-full bg-slate-900 text-neutral-50'>
  <div class='flex flex-row justify-between items-center m-auto p-3 w-full'>
    <a
      href='/'
      class='grid-flow-row place-items-center p-1'
      aria-label='Go Home'
    >
      <Icon name='twemoji:house-with-garden' width='60' />
    </a>

    <ul class='flex flex-row gap-1 font-semibold text-lg'>
      <Link
        href='/blog/'
        text='Blog posts'
        style='secondary'
        isFilled={false}
        data-navLink
        icon={{
          name: 'twemoji:closed-mailbox-with-raised-flag',
          side: 'right',
        }}
      />

      <Link
        href='/about/'
        text='About me'
        style='secondary'
        isFilled={false}
        data-navLink
        icon={{
          name: 'twemoji:waving-hand-medium-light-skin-tone',
          side: 'right',
        }}
      />
    </ul>
  </div>
</nav>

<script>
  import '../js/nav.js';
</script>
